
.stress{
  font-size:20px;
  font-weight: bold;
}
h1,h2{text-align: center;}
.true{text-align: center;}
.content{
  width:80%;
  margin: 0 auto;
}
a{
  text-decoration: underline;
  color:#337ab7;
}
.one{
  color:#777;
  font-family: "宋体";
  font-style: italic;
  font-size:15px;
}
q{
  font-family: "微软雅黑";
  font-size:25px;
  line-height: 1.2em;
}
span{font-weight: bold;}
.two{
  font-weight: bold;
  font-size:20px;
  line-height: 1.5em;
}
.three{
  font-size:7px;
}
